.dashboard {
    height: 100vh;
    width: 100vw;
  
    align-items: center;
    justify-content: center;
  }
  
  .dashboard__container {
    text-align: center;
    flex-direction: column;
   
    
  }
  
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
  }
  
  